/* from https://github.com/bradtraversy/webpack-starter/blob/main/src/styles/main.scss */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400&family=Outfit:wght@400;500;600;700;800;900&family=Patua+One&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda');
@import url('https://fonts.googleapis.com/css2?family=Belanosima');

$primary-color: #2fa8cc;
$secondary-color: #f4f4f4;
$box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);

* {
  box-sizing: border-box;
}

body {
  background-color: $primary-color;
  font-family: 'Roboto', sans-serif;
  background: rgb(255, 180, 214);
  background: linear-gradient(
    90deg,
    rgba(255, 180, 214, 1) 0%,
    rgba(215, 149, 94, 1) 40%,
    rgba(242, 124, 178, 1) 100%
  );
  font-family: 'Outfit', sans-serif;
  margin: 0px;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; // horizontal
  padding: 1em;
}

.app {
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
  padding-top: 2em;
}

h1 {
  font-size: 4em;
  text-align: center;
}

.navbar {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 5rem;
  font-family: 'Pacifico', cursive;
  background-image: linear-gradient(
    90deg,
    #c8bbe5 10%,
    #fffbd5 50%,
    #c8bbe5 90%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  // color: #fffbd5;
  position: sticky;
  top: 0;
  width: 100vw;
  padding: 0;
  z-index: 1;
}

.navbar p {
  font-size: 4em;
  font-weight: bold;
  margin-top: 0;
}

/* RES DISPLAY + CARD STYLING */
.resDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 75%;
  padding-right: 1.5em;
  overflow-y: scroll;

  /* Set the scrollbar properties for Webkit browsers (Chrome, Safari, etc.) */
  &::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Color of the scrollbar thumb */
    border-radius: 4px; /* Rounded corners for the scrollbar thumb */
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3); /* Color of the scrollbar thumb on hover */
  }

  &::-webkit-scrollbar-track {
    background-color: transparent; /* Transparent background for the scrollbar track */
  }
  
}

.resCard {
  text-align: center;
  overflow: visible;
  height: max-content;
  flex-basis: 45%;
  min-height: 25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 2em;
  background: rgb(113, 223, 243);
  background: linear-gradient(
    90deg,
    rgba(113, 223, 243, 0.8491990546218487) 0%,
    rgba(120, 187, 206, 1) 50%,
    rgba(124, 184, 242, 1) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.16) 8px 7px 3px 0px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 1em;
  cursor: pointer;

  h1 {
    text-transform: uppercase;
    margin: 0;
    text-shadow: -1px 1px 2px #eaeaea, 1px 1px 2px #eaeaea, 1px -1px 0 #eaeaea,
      -1px -1px 0 #eaeaea;
    font-size: 2em;
  }

  h2 {
    text-transform: lowercase;
    margin-top: 0;
    font-family: 'Philosopher';
    font-size: 1.75em;
  }

  p {
    margin-bottom: 0;
  }
}

#nameLabel {
  font-family: 'Belanosima';
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(138, 100, 141, 0.6);
}

.queryFormContainer {
  width: 90%;
  max-width: 600px;
  margin: auto;
  height: 50px;
  background-color: #b880b8;
  background-image: linear-gradient(0deg, #b880b8 0%, #89c9d1 100%);
  background-color: rgba(178, 235, 253, 0.58);
  display: flex;
  flex: 0;
  min-height: 50px;
  
  justify-content: space-between;

  border-radius: 8px;
}

.queryFormContainer input {
  display: flex;
  align-items: center;
  flex: 1;
  height: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  padding: 0 30px;
}

.queryFormContainer .search-button {
  padding: 0 40px;
  height: 100%;
  background: #f17929;
  color: #fff;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
  border: 0;
  outline: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.search-button:hover {
  background-color: #f34f1d;
}

::placeholder {
  color: #fff;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
}

.dropDownLabel {
  font-family: 'Belanosima';
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(138, 100, 141, 0.6);
}

.dropDown {
  box-shadow: 0.15rem 0.15rem 0.4rem 0.04rem rgba(87, 53, 0, 0.6);
  border-radius: 0.5rem;
  font-family: 'Merienda', sans-serif;
  background-color: blanchedalmond;
  min-height: 2rem;
  max-height: 4rem;
  border-width: 0.1rem;
  cursor: pointer;
  color: black;
}

#nameLabel {
  font-family: 'Belanosima';
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(138, 100, 141, 0.6);
}

.dropDownLabel {
  font-family: 'Belanosima';
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(138, 100, 141, 0.6);
}

.dropDown {
  box-shadow: 0.15rem 0.15rem 0.4rem 0.04rem rgba(87, 53, 0, 0.6);
  border-radius: 0.5rem;
  font-family: 'Merienda', sans-serif;
  background-color: blanchedalmond;
  min-height: 2rem;
  max-height: 4rem;
  border-width: 0.1rem;
  cursor: pointer;

  color: black;
}

/* Review Container Styling*/

.reviewContainer {
  border: dashed 2px rgba(30, 101, 123, 0.973);
  padding: 10px;
  font-weight: bold;
}

.serviceStars {
  cursor: 'pointer';
  transition: color 0.2s;
}

// .serviceStars:hover ,
.serviceStars.clicked {
  color: rgb(255, 200, 0);
}

.map_container {
  float: right;
  height: 800px;
  width: 800px;
}

#bodycontainer {
  display: flex;
  overflow: auto;
  flex-direction: row;
  padding: 0.5em;
  height: 100%;
}

#mapiframe {
  width: 50vw;
  height: 100%;
  border: 0;
  margin: 0 0.5em 2em;
  position: sticky;
  top: 0;
  overflow: hidden;
  border-radius: 10px;
}

#restaurantPreview {
  height: 10em;
  width: 15em;
  align-self: center;
}

.resCard .search-button {
  padding: 0 2em;
  margin: 1em;
  height: 100%;
  background: #f17929;
  color: #fff;
  font-size: 1em;
  font-family: 'Ubuntu', sans-serif;
  border: 0;
  outline: 0;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-self: center;
}